{% extends "base_admin.html" %}
{% load staticfiles i18n %}
{% block menu %} {% include 'migrants/_menu_admin.html' %} {% endblock %}
{% block content %}
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard_mig' %}">Tableau de bord</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'survey_table' %}">Information générales des ménages.</a>
        </li>
        <li class="breadcrumb-item active">Les membres du ménage {{survey.display_name}}</li>
      </ol>
        <div class="table-responsive">
          <table class="table table-sm table-striped" cellspacing="0">
            <thead>
              <tr class=thead-msah-title><th colspan="9">Les menages retournés</th></tr>
              <tr class="thead-msah">
                <th>Nom</th>
                <th>Prénom</th>
                <th>nationalite</th>
                <th>Sexe</th>
                <th>Àge</th>
                <th>Etat civil</th>
                <th>Profession</th>
                <th>Lien</th>
              </tr>
            </thead>
            <tbody>
              {% for person in persons %}
                <tr>
                  <td><a href="{{person.person_detail_url}}">{{ person.nom }}</a></td>
                  <td>{{ person.prenoms }}</td>
                  <td>{{ person.nationalite }}</td>
                  <td>{{ person.gender }}</td>
                  <td>{{ person.age }}</td>
                  <td>{{ person.etat_civil }}</td>
                  <td>{{ person.profession }}</td>
                  <td>{{ person.lien }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}