{% extends "base_admin.html" %}
{% load staticfiles i18n %}
{% block menu %} {% include 'migrants/_menu_admin.html' %} {% endblock %}
{% block content %}
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard_mig' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Informations général des migrants de retour au Mali.</li>
      </ol>
          <div class="table-responsive">
            <table class="table table-sm table-striped" cellspacing="0">
              <thead>
                <tr class="thead-msah">
                  <th>ID</th>
                  <th>Date Entretien</th>
                  <th>Pays</th>
                  <th>Type operation</th>
                  <th>cause</th>
                  <th>Point d'entre</th>
                  <th>Nb personne menage</th>
                  <th>Numéro de tel</th>
                  <th>Photo document</th>
                </tr>
              </thead>
              <tbody>
                {% for svr in surveys %}
                  <tr>
                    <td><a href="{{svr.person_url}}">{{ svr.instance_id }}</a></td>
                    <td>{{ svr.date_entretien }}</td>
                    <td>{{ svr.menage_pays_provenance }}</td>
                    <td>{{ svr.type_operation }}</td>
                    <td>{{ svr.cause }}</td>
                    <td>{{ svr.menage_point_entrer }}</td>
                    <td>{{ svr.nb_member }}</td>
                    <td>{{ svr.tel }}</td>
                    <td><a target="_blank" href="/odk-media/{{svr.get_menage_photo_doc_voyage}}">Voir le document de voyage.</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        <div class="card-footer small text-muted">
          <nav aria-label="...">
            <ul class="pagination">
              {% if surveys.has_previous %}
                  <li class="page-item">
                      <a class="page-link" href="?page=1">&laquo; Première page</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="?page={{ surveys.previous_page_number }}">Précedente</a>
                  </li>
              {% endif %}
              <li class="page-item active">
                <span class="page-link">
                  Page {{ surveys.number }} <span class="sr-only">(current)</span>
                </span>
              </li>
                  {% if surveys.has_next %}
                      <li class="page-item"> <a class="page-link" href="?page={{ surveys.next_page_number }}">Suivante</a></li>
                      <li class="page-item"><a class="page-link" href="?page={{ surveys.paginator.num_pages }}">Dernière page &raquo;</a></li>
                  {% endif %}
              </li>
            </ul>
          </nav>
        </div>

{% endblock %}