
.navbar-inverse {
   /* background-color: #161617;*/
    border-color: transparent;
    color: white;
}
.banner img {
    max-height: 100%;
    max-width: 100%;
}

.situtation-heb {
    background-color: #9eb300;
}

.table .thead-msah th {
    color: #fff;
    background-color: #0c500e;
}
.bg-msah {
    background-color: #033261!important;
}

.error-msg {
    background-color: red;
    color: white;
    display: block;
    font-size: 1.2em;
    margin: 0 0 3px;
    padding: 4px 5px;
}

.button-manager {
    text-align: center;background-color: #17a2b8;font-size: 3em;
}
a {color: #fff}
a :hover {text-decoration:none;color: #eee}
.table .thead-merge th {
    color: #fff;
    background-color: #8a8a8a;
    border-color: #f9f9f9;
}