
{% load staticfiles i18n %}
<!--footer-->
<footer class="footer1">
    <div class="container">
<hr>
        <div class="row"><!-- row -->
            <div class="col-lg-4 col-md-4"><!-- widgets column left -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->
                <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    <h1 class="title-widget">DNDS</h1>
                    <div class="img-fluid thumbnail img-prot">
                      <a href="{% static 'img/dn-dnds.jpeg' %}">
                        <img src="{% static 'img/dn-dnds.jpg' %}" alt="Lights">
                      </a>
                        <div class="caption">
                          <h5>M. ALMAHADI IBRAHIM TOURE</h5>
                          <span>Directeur National du Développement Social</span>
                        </div>
                    </div><!--
                    <ul>
                        <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                        <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                        <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                    </ul> -->
                </li>
            </ul>
            </div><!-- widgets column left end -->
            <div class="col-lg-4 col-md-4"><!-- widgets column left -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->
                <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    <h1 class="title-widget">DNDPSES</h1>
                    <div class="img-fluid thumbnail img-prot">
                      <a href="{% static 'img/dn-dnpses.jpeg' %}">
                        <img src="{% static 'img/dn-dnpses.jpg' %}" alt="Lights">
                      </a>
                        <div class="caption">
                            <h5>M. MOHAMED BASSIROU TRAORÉ</h5>
                            <p>Directeur National de la Protection Sociale et de l’Economie Solidaire</p>
                        </div>
                    </div><!--
                    <ul>
                        <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test Series Schedule</a></li>
                        <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Postal Coaching</a></li>
                        <li><a  href="#"><i class="fa fa-angle-double-right"></i>  PG Dr. Bhatia Books</a></li>
                        <li><a  href="#"><i class="fa fa-angle-double-right"></i>  UG Courses</a></li>
                    </ul> -->
                </li>
            </ul>
            </div><!-- widgets column left end -->
            <div class="col-lg-4 col-md-4"><!-- widgets column center -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                    <li class="widget-container widget_recent_news"><!-- widgets list -->
                        <h2 class="title-widget" id="contact">Détail du contact </h2>
                        <div class="footerp">
                            <h2 class="title-median">DNDPSES / DNDPSES </h2>
                            <p><i class="fa fa-envelope"></i><b> E-mail : </b><a href="mailto:info@msah.ml">info@msah.ml</a></p>
                            <p><b>Numéros d'assistance : </b>
                            <b style="color:#ffc106;">(8h:00 à 17h:30)</b>
                            <h6><i class="fa fa-phone"></i><b> Tel : </b> (+223) 20229614 </h6></p>
                            <p><b>Adresse : </b></p>
                        </div>
                        <div class="social-icons">
                            <ul class="nomargin">
                                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                                <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
                                <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
            <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12"><!-- widgets column left -->
            <ul class="list-unstyled clear-margins"><!-- widgets -->
                <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    <h1 class="title-widget">Nos partenaires</h1>
                    <a href="#" class="logo-partner"><img src="{% static 'img/unicef-logo.jpg' %}"> </a>
                    <a href="#" class="logo-partner"><img src="{% static 'img/oim-logo.jpg' %}"> </a>
                    <a href="#" class="logo-partner"><img src="{% static 'img/unhcr-logo.jpg' %}"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!--header-->

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="copyright">
                    © IBS-MAli SARL 2018, All rights reserved
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="design">
                     <a href="#">IBS-Mali SARL</a> |  <a target="_blank" href="http://ibsmali.ml">Web Design & Development by IBS-Mali SARL</a>
                </div>
            </div>
        </div>
    </div>
</div>