{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">
        {% include '_base_css.html' %}
    {% block extra_head %}

    {% endblock %}
  </head>
  <body>
    {% include "_menu.html" %}
    <!-- Navigation -->
    {% block banner %} {% endblock %}
    <!-- Page Content -->
    <section class="py-5">
      <div class="container-fluid page" id="{% block page-id %}{% endblock %}">
        <div class="row">
          {% block content  %}
          {% endblock %}
        </div>
      </div>
    </section>
          {% block footer %}  {% endblock %}
      {% include "_tags_js.html" %}
      <script type="text/javascript">
          $(document).ready(function(){
              {% block onJQready %}{% endblock %}
          });
     </script>
    <!-- Bootstrap core JavaScript -->
  </body>
</html>