{% extends "base_site.html" %}
{% load staticfiles i18n widget_tweaks bootstrap_tags %}
{% block content %}
      {% include "_message.html" with msg=user_new_form.errors %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form class="form-vertical" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <legend>Creation de compte</legend>
                {{ user_new_form|as_bootstrap }}
                <div class="form-actions">
                  <button type="submit" name="_user_new" class="btn btn-primary">{% trans "Save" %}</button>
                </div>
            </form>
        </div>
{% endblock %}