
          <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
              <a class="nav-link" href="{% url 'dashboard_rep' %}">
                <i class="fa fa-fw fa-dashboard"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
            {% if not user.is_anonymous %}
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Data">
                <a class="nav-link" href="#">
                  <i class="fa fa-database" aria-hidden="true"></i>
                  <span class="nav-link-text">Administration</span>
                </a>
              </li>
            {% endif %}
          </ul>