{% extends "base_site.html" %}
{% load staticfiles i18n widget_tweaks bootstrap_tags %}
{% block title %} {% trans "Controle" %}{% endblock %}

{% block menu %} {% include 'repatriate/_menu_admin.html' %} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <form class="form-horizontal" method="post">{% csrf_token %}
                <legend>Correction de l'enregistrement de l'agent <b>{{selected_person.nom_agent}}</b> du site <b>{{selected_person.site_engistrement}}</b></legend>
                {{ person_form|as_bootstrap }}
                <div class="form-actions">
                  <button type="submit" class="btn btn-info" name="_fixed_person">Corriger</button>
                </div>
            </form>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        </div>
    </div>
{% endblock %}
