{% extends "base_admin.html" %}
{% load staticfiles i18n widget_tweaks bootstrap_tags %}
{% block title %} {% trans "Controle" %}{% endblock %}

{% block menu %} {% include 'repatriate/_menu_admin.html' %} {% endblock %}
{% block content %}
    <form class="form-horizontal" method="post">{% csrf_token %}
        <legend>Correction de l'enregistrement de l'agent <b>{{selected_person.nom_agent}}</b> du site <b>{{selected_person.site_engistrement}}</b></legend>
        {{ person_form|as_bootstrap }}
        <div class="form-actions">
          <button type="submit" class="btn btn-info" name="_fixed_person">Corriger</button>
        </div>
    </form>
{% endblock %}
